<!doctype html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="UTF-8" />
<link href="/static/bootstrap.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">
<script type="text/javascript" src="/static/contrib/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/init.js"></script>
{% block scripts_head %} {% endblock %}
</head>
<body>
  <section class="row">
    {% include "header.html" %}
  </section>
  <section class="page-body">
    <div class="sidebar col-md-2">
      {% block sidebar %}
      {% endblock %}
    </div>
    <div class="main-content col-md-8">
      {% block page_body %}
      {% endblock %}
    </div>
  </section>
  {% include "footer.html" %}
  <script type="text/javascript">
   ready();
  </script>
</body>
</html>
